---
import SidebarMenu from "blue-react/dist/components/SidebarMenu.js"
import MenuItem from "blue-react/dist/components/MenuItem.js"
import {
    ArrowRepeat,
    ArrowsVertical,
    CircleHalf,
    Columns,
    CursorText,
    EyeSlash,
    House,
    HouseFill,
    LayersHalf,
    LayoutSidebarInset,
    LayoutTextWindowReverse,
    MenuApp,
    MenuAppFill,
    MenuUp,
    Palette,
    PlayBtn,
    PlayBtnFill,
    SegmentedNav,
    Tools,
    Type,
    WindowStack
} from "react-bootstrap-icons"

const currentPath = Astro.url.pathname

function prepareSectionMenuItem(path: string, section: "css" | "js") {
    const cleanPath = path
        .replace(`/src/pages/${section}/`, "")
        .replace(".astro", "")
        .replace(".mdx", "")
        .replace(".md", "")

    const itemPath = import.meta.env.BASE_URL + `${section}/${encodeURIComponent(cleanPath)}`
    return {
        path: itemPath,
        label: cleanPath,
        isActive: currentPath.includes(itemPath)
    }
}

const cssMenuItems = Object.keys(import.meta.glob("/src/pages/css/*")).map((path) =>
    prepareSectionMenuItem(path, "css")
)

const jsMenuItems = Object.keys(import.meta.glob("/src/pages/js/*")).map((path) => prepareSectionMenuItem(path, "js"))
---

<SidebarMenu>
    <ul class="list-unstyled d-flex flex-column">
        <li>
            <MenuItem href="." label="Start" isActive={currentPath === import.meta.env.BASE_URL}>
                {currentPath === import.meta.env.BASE_URL ? <HouseFill slot="icon" /> : <House slot="icon" />}
            </MenuItem>
        </li>

        <li>
            <MenuItem
                href="typography"
                label="Typography"
                isActive={currentPath.includes(import.meta.env.BASE_URL + "typography")}
            >
                <Type slot="icon" />
            </MenuItem>
        </li>

        <li class="mb-3">
            <MenuItem
                href="components-showcase"
                label="Components Showcase"
                isActive={currentPath.includes(import.meta.env.BASE_URL + "components-showcase")}
            >
                <Palette slot="icon" />
            </MenuItem>
        </li>

        <li class="mb-3">
            <strong class="ps-2">CSS</strong>
            <ul class="list-unstyled">
                {
                    cssMenuItems.map((item) => (
                        <li>
                            <MenuItem
                                href={item.path}
                                label={item.label}
                                isActive={item.isActive}
                                labelClassName={item.label === "Collapse" ? "docs-badge docs-badge-new" : ""}
                            >
                                {item.label === "Button with icon" && <PlayBtn slot="icon" />}
                                {item.label === "Buttons" && <PlayBtnFill slot="icon" />}
                                {item.label === "Collapse" && <MenuAppFill slot="icon" />}
                                {item.label === "Container Grid" && <Columns slot="icon" />}
                                {item.label === "Layout" && <LayoutTextWindowReverse slot="icon" />}
                                {item.label === "Modal" && <WindowStack slot="icon" />}
                                {item.label === "Neumorphism" && <LayersHalf slot="icon" />}
                                {item.label === "Scrollbar" && <ArrowsVertical slot="icon" />}
                                {item.label === "Sidebar" && <LayoutSidebarInset slot="icon" />}
                                {item.label === "Tabs" && <SegmentedNav slot="icon" />}
                                {item.label === "Text and Icons" && <Type slot="icon" />}
                                {item.label === "Tooltip" && <MenuUp slot="icon" />}
                                {item.label === "Visibility" && <EyeSlash slot="icon" />}
                            </MenuItem>
                        </li>
                    ))
                }
            </ul>
        </li>

        <li>
            <strong class="ps-2">JavaScript</strong>
            <ul class="list-unstyled">
                {
                    jsMenuItems.map((item) => (
                        <li>
                            <MenuItem
                                href={item.path}
                                label={item.label}
                                isActive={item.isActive}
                                labelClassName={
                                    item.label === "ColorMode"
                                        ? "docs-badge docs-badge-new"
                                        : item.label === "Actions"
                                          ? "docs-badge docs-badge-experimental"
                                          : ""
                                }
                            >
                                {item.label === "Actions" && <MenuApp slot="icon" />}
                                {item.label === "ColorMode" && <CircleHalf slot="icon" />}
                                {item.label === "Dialog" && <WindowStack slot="icon" />}
                                {item.label === "Progress" && <ArrowRepeat slot="icon" />}
                                {item.label === "ReadView" && <CursorText slot="icon" />}
                                {item.label === "SideLayout" && <LayoutTextWindowReverse slot="icon" />}
                                {item.label === "Utils" && <Tools slot="icon" />}
                            </MenuItem>
                        </li>
                    ))
                }
            </ul>
        </li>
    </ul>
</SidebarMenu>
